<h1>Cards</h1>

<div class="col-lg-4">
    <section>
        <div class="card" style="background-color:aquamarine;">
            <div class="card" style="background-color:blueviolet; margin:7px;">
                <img class="card-img-top" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </section>
</div>